lib_managed/
project/boot/
.idea
.idea_modules
.DS_Store
target/
project/plugins/src_managed/
project/plugins/project/
\#*\#
*~
# IDEA Ignores
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
# OS X
.DS_Store
