name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 3 * * *'
jobs:
  test:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: scala_2
            os: ubuntu-latest
          - name: scala_3
            os: ubuntu-latest
          - name: scala_2
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.11" # Jetty 10 require Java 11
    - uses: actions/checkout@v2.3.4
    - uses: coursier/cache-action@v5
    - shell: bash
      run: |
        case ${{ matrix.name }} in
          "scala_2")
            sbt -v "+ test" "+ publishLocal"
            ;;
          "scala_3")
            sbt -v '++ 3.0.0-M2!' compile publishLocal
            ;;
          *)
            echo "unknown job"
            exit 1
        esac
    - shell: bash
      run: rm -rf "$HOME/.ivy2/local" || true
