name: scala-steward
on:
  push:
    branches: [ main ]
  schedule:
  - cron: '0 16 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'unfiltered' }}
    timeout-minutes: 30
    steps:
    - name: generate token
      id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89698
        private-key: ${{ secrets.UNFILTERED_APP_KEY }}
    - name: scala-steward
      uses: scala-steward-org/scala-steward-action@v2
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74865306+unfiltered-app[bot]@users.noreply.github.com"
        author-name: "unfiltered-app[bot]"
        branches: "0.12.x,0.11.x,0.10.x"
